<% @merchant.bulk_discounts.each do |discount| %>
  <p>Discount Percentage: <%= discount.percentage %></p>
  <p>Discount Threshold: <%= link_to discount.threshold, merchant_bulk_discount_path(@merchant, discount)%></p>
<% end %>